h1, h3, p, label{
    color: white;
}

input, select, textarea{
    margin-bottom: 20px;
}

.form-control{
    display: block;
    width: 100%;
}

.register-form{
    width:400px;
    margin: 0 auto;
}

h1{
    margin-top: 75px;
}

.myButton{
    display: block;
    width: 100%;
}

.img{
    border-radius: 50px;
}


